<div class="container-fluid mainDiv">
    <div class="row justify-content-center">
        <div class="col-12 p-0">
            <h1>Edit Project</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="md-form">
                <input type="text" #searchText nz-input placeholder="Search Project" Green class="search"
                    (keyup)="search(searchText.value)" />
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <nz-table #sortTablen  [nzData]="this.projInfo" zBordered nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th class="text-center" *ngFor="let head of headElements; let i = index"
                            [sortBy]="headElements[i]" scope="col">{{head | titlecase}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let data of this.projInfo ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.projName}}</td>
                        <td><img src="{{this.iconSrc}}{{data.projectImages[0].imgPath}}" alt="" class="img-fluid"></td>
                        <td>{{data.clientName}}/{{data.clientContact}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>