<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/assets/images/Jimg2.JPG" alt="">
            <nz-tabset>
                <nz-tab nzTitle="Projects">
                    <app-projects></app-projects>
                </nz-tab>
                <nz-tab nzTitle="About us">
                    <app-about-us></app-about-us>
                </nz-tab>

                <nz-tab nzTitle="Expertise">
                    <app-expertise></app-expertise>
                </nz-tab>
                <nz-tab nzTitle="Contact">
                    <app-contact></app-contact>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
</div>