<div class="row mt-3">
    <div class="col-md-2 about-sec">
        <p>Expertise</p>
    </div>
    <div class="col-md-5 graybg">
        <div class="row">
            <div class="col-md-7 about-detail">
                <p class="about-head">Local solutions with global expertise</p>
                <p>
                    From designing road, rail, energy and water systems to creating new buildings and communities, at
                    Pace we are united by the vision to make our world a better place. We help national governments,
                    international organisations and private sector companies to deliver successful local solutions with
                    global expertise.
                </p>
                <p>
                    We understand that our world is changing and with this, the requirements of modern property and
                    infrastructure are too. We work with our clients to plan, design, manage and construct the built
                    environment with the goal of improving all aspects of life including economic development, public
                    health, sustainability and social equity.
                </p>
                <p>
                    A trusted partner, we draw together multidisciplinary teams dedicated to finding the most innovative
                    and appropriate solutions, and improving quality of life. Our technical expertise and creative
                    excellence combine to provide fully integrated planning, design, engineering, environment,
                    consulting as well as cost, construction, project and programme management capabilities to a broad
                    range of sectors.
                </p>
                <p>
                    Our adaptable and flexible approach delivers consistency, sustainability, longevity and high quality
                    along with efficiencies in cost and time. Uniquely equipped to design and manage projects of any
                    type or scale, we offer our clients a single and comprehensive source of solutions.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6 col-12 exp-images">
                <img src="/assets/images/b1.jpg" alt="" class="img-fluid">
                <div class="overlay">
                    <div class="text">Hello World1</div>
                  </div>
            </div>
            <div class="col-md-6 col-12 exp-images">
                <img src="/assets/images/b2.jpg" alt="" class="img-fluid">
                <div class="overlay">
                    <div class="text">Hello World2</div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <!-- <p class="j">J. interiors</p> -->
    <p class="b" (click)="scrollToTop()" *ngIf="pageYoffset > 20">Top</p>
</div>