<div class="row mt-3" id="allExpertise">
    <div class="col-md-2 about-sec">
        <p>Expertise</p>
    </div>
    <div class="col-md-5 graybg">
        <div class="row">
            <div class="col-md-7">
                <div id="modal-con"></div>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6 col-12 exp-images" *ngFor="let data of this.expertyInfoArray; let i=index" (click)="showExpertyProjects(data.type)">
                <img src="{{this.imgSrc}}{{data.projectImages[0].imgPath}}" alt=""
                    class="img-fluid">
                <div class="overlay">
                    <div class="text">{{data.type}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projectsExperties">
<a (click)="goBack()"><mdb-icon fas icon="angle-double-left"></mdb-icon></a>
    <div id="all" class="row ">
        <div class="col-md-3 col-12" (click)="carousel(data.id)" *ngFor="let data of this.projInfo; let i=index">
            <img src="{{this.iconSrc}}{{data.projectImages[0].imgPath}}">
            <div class="overlay">
                <div class="text">{{data.projName}}</div>
                <div class="text1">{{data.projDescription}}</div>
            </div>
        </div>
    </div>
    
    <div class="row" id="specific">
        <div class="col-md-6">
            <nz-carousel [nzDotPosition]="dotPosition" nzAutoPlay>
                <div nz-carousel-content *ngFor="let data of this.imagesArray" class="ccc">
                    <img src="{{this.iconSrc}}{{data}}" alt="" class="autoHeight">
                </div>
            </nz-carousel>
            <div class="row justify-content-center mt-3">
                <div class="col-11">
                    <i class="far fa-times-circle fa-2x" (click)="close()"></i>
                    <div class="singleProjCabin">
                        <p id="projName">{{this.oneProjInfo.projName}}</p>
                        <p id="projDesc">{{this.oneProjInfo.projDescription}}</p>
                        <div id="modal-con"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="row">
                <div class="col-md-6 p-0 col-12 specificCol6" (click)="carousel(data.id)"
                    *ngFor="let data of this.projInfo; let i=index">
                    <img src="{{this.iconSrc}}{{data.projectImages[0].imgPath}}">
                    <div class="overlay">
                        <div class="text">{{data.projName}}</div>
                        <div class="text1">{{data.projDescription}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <!-- <p class="j">J. interiors</p> -->
    <p class="b" (click)="scrollToTop()" *ngIf="pageYoffset > 20">Top</p>
</div>
