<div class="row mt-3">
    <div class="col-md-2 about-sec">
        <p>Expertise</p>
    </div>
    <div class="col-md-5 graybg">
        <div class="row">
            <div class="col-md-7">
                <div id="modal-con"></div>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6 col-12 exp-images" *ngFor="let data of this.expertyInfoArray; let i=index">
                <img src="{{this.imgSrc}}{{data.projectImages[0].imgPath}}" alt=""
                    class="img-fluid">
                <div class="overlay">
                    <div class="text">{{data.type}}</div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-12 exp-images">
                <img src="/assets/images/b2.jpg" alt="" class="img-fluid">
                <div class="overlay">
                    <div class="text">Hello World2</div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="footer">
    <!-- <p class="j">J. interiors</p> -->
    <p class="b" (click)="scrollToTop()" *ngIf="pageYoffset > 20">Top</p>
</div>