<div class="container-fluid text-center">
    <form class="example-form" (ngSubmit)="onSubmit1()" [formGroup]="expertySectionForm" #myform="ngForm">
        <div class="row justify-content-center">
            <div class="col-12 p-0">
                <h1>Add Experty</h1>
            </div>
            <div class="col-md-9">
                <h4>Detail of your Expertise</h4>
                <angular-editor [formControl]="detailForm.detail" [config]="editorConfig"></angular-editor>
                <mdb-error
                    *ngIf="detailForm.detail.invalid && (detailForm.detail.dirty || detailForm.detail.touched || myform.submitted)">
                    {{ getDetailError() }}
                </mdb-error>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-md-2">
                <button type="submit" mdbBtn mdbWavesEffect class="button">Upload..!</button>
            </div>
        </div>
    </form>
    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="addExpertyForm" #myform1="ngForm">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4>Select Image</h4>
                <div class="input-group w-100  d-flex justify-content-center ">
                    <div class="clearfix">
                        <nz-upload [nzRemove]="onRemove" nzMultiple [nzBeforeUpload]="beforeUpload"
                            nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1"
                            [nzPreview]="handlePreview">
                            <div>
                                <i nz-icon nzType="plus"></i>
                                <div style="margin-top: 8px">Upload</div>
                            </div>
                        </nz-upload>
                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" ngDefaultControl
                            (nzOnCancel)="previewVisible = false">
                            <ng-template #modalContent>
                                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                            </ng-template>
                        </nz-modal>
                    </div>
                    <mdb-error
                        *ngIf="expertyForm.image.invalid && (expertyForm.image.dirty || expertyForm.image.touched || myform1.submitted)">
                        {{ getImageError() }}
                    </mdb-error>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Experty Name</h4>
                <input class="input-boxes" nz-input placeholder="Experty Name..." [formControl]="expertyForm.type" />
                <mdb-error *ngIf="expertyForm.type.invalid && (expertyForm.type.dirty || expertyForm.type.touched || myform1.submitted)">
                    {{ getTypeError() }}
                </mdb-error>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-md-2">
                <button type="submit" mdbBtn mdbWavesEffect class="button">Upload..!</button>
            </div>
        </div>
    </form>
</div>