<div class="row mt-3">
    <div class="col-12">
        <div class="row">
            <div class="col-md-5 col-12">
                <img src="{{this.iconSrc}}" alt="" class="img-fluid">
            </div>

            <div class="col-md-5 graybg">
                <div class="row">
                    <div class="col-6 about-sec">
                        <p id="headAboutus" (click)="ours('Aboutus')">About us</p>
                        <ul>
                            <li id="headApproach" (click)="ours('Approach')">Our Approch</li>
                            <li id="headHistory" (click)="ours('History')">Our History</li>
                            <li id="headServices" (click)="ours('Services')">Our Services</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 ">
                        <div id="modal-con">

                        </div>
                    </div>
                    <!-- <div id="approach" class="col-md-7 about-detail">
                        <p>
                            Our carefully considered approach to delivering projects account for every aspect of a
                            development, ensuring that all of its facets, from lighting to landscaping, from waste
                            management to mechanical engineering, fit together to form vibrant places where people can
                            come
                            together to live, work, play, and grow.
                        </p>
                        <p>
                            From the smallest project to the largest, it is our mission to understand the client’s
                            requirements and deliver a solution that meets and exceeds them.
                        </p>
                        <p>
                            At Pace, we believe that the places where we live, work and play should be a reflection of
                            who
                            we are, which is why we make it our responsibility to design environments so precisely
                            suited to
                            their needs that, for the people using them, navigation becomes practically instinctive.
                            Everything from site plans, wayfinding and signage, to interiors and landscaping is
                            carefully
                            planned out to create unique developments that meet user and client requirements.
                        </p>
                        <p>
                            Environmental sustainability also plays a major part in our design philosophy. Our waste
                            management, heating and lighting solutions, along with innovations in shading and water
                            re-utilisation, help in creating developments with a positive impact on the spaces they
                            occupy.
                        </p>
                        <p>
                            We work to the highest of industry standards and are active leaders in the region for the
                            adoption and promotion of Building Information Modelling (BIM), Leadership in Energy and
                            Environmental Design (LEED) and Health, Safety and Environment (HSE) to support our clients’
                            projects.
                        </p>
                        <p>
                            We are accredited to ISO 45001:2018 for Occupational Health & Safety Management System
                            (OHSMS)
                            and ISO 14001:2015 for Environmental Management Systems.
                        </p>
                    </div>
                    <div id="history" class="col-md-7 about-detail">
                        <p class="about-head">Founded in Kuwait City in 1968 by Mr Hamid Abdulsalam Shuaib and Partners,
                            Pace quickly established itself as one of the region’s most respected architecture and
                            engineering practices. </p>
                        <p>
                            Pace’s subsequent growth has gone hand-in-hand with the growth of Kuwait City itself, as
                            well as that of the surrounding region. Indeed, Pace has been privileged to be able to
                            contribute to the city’s development.
                        </p>
                    </div>
                    <div id="service" class="col-md-7 about-detail">
                        <p class="about-head">How we articulate our services is simple. We “Plan, Design, Manage,
                            Construct” </p>
                        <p>
                           <strong>Plan</strong> – The challenges facing our clients are multidimensional, often because of an
                            increasingly complex modern environment. From cost and risk planning to feasibility studies
                            and logistics to impact assessments and stakeholder engagement activity, we plan every
                            aspect of our clients’ projects.
                        </p>
                        <p>
                           <strong>Design</strong> – Pace designs intellectual capital such as management systems and business
                            processes. We also design physical structures such as office towers, universities, bridges
                            and highways. Whatever we design, we apply the same values; our passion and creativity
                            combined with rigorous quality standards.
                        </p>
                        <p>
                           <strong>Manage</strong> – Our clients choose us because they need assurance that their projects are procured
                            safely and predictably. They entrust us with the management of projects, people and issues –
                            ensuring that deadlines are met, costs are controlled and success is delivered.
                        </p>
                        <p>
                           <strong>Construct</strong> – We offer clients a host of construction services during the lifecycle of the
                            construction phase to ensure projects are delivered safely and effectively. Our onsite teams
                            bridge the gap between clients, contractors and other onsite staff to enable environments
                            where our high standards of delivery are met.
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <!-- <p class="j">J. interiors</p> -->
    <p class="b" (click)="scrollToTop()" *ngIf="pageYoffset > 20">Top</p>
</div>